RewriteEngine on
RewriteRule ^$ index.php  [L]
RewriteCond $1 !^(index\.php|captcha|DocDir|assets|css|js|icon|less|font-awesome|img|logo|image|gambar2|file_doc|chart|files)
RewriteRule ^(.*)$ /BALAY-HMVC/index.php/$1 [L]
